$primary: #5644b5;
$secondary: #ff4969;
$light-gray: #f5f6fa;
$gray-text: #878787;
$gray-sports-list-text: #555;
$field-grey: #e3e3e3;
$grayly: #cccccc;
$accent: #8c9eff;
$error: #b71c1c;
$black: black;
$white: white;
$ok: #07df8f;
$bg: #f2f2f2;
$input-background: #f5f6fa;
$newscardtitle: #55474f;
$newstitlenames: #4a90e2;
$newsitemdate: #9b9b9b;
$gray-border: #979797;